tools/MUST-v1.7/externals/GTI/system-builder/dtd/wrapp-gen-output.dtd

<!--
  This file is part of GTI (Generic Tool Infrastructure)

  Copyright (C)
    2008-2019 ZIH, Technische Universitaet Dresden, Federal Republic of Germany
    2008-2019 Lawrence Livermore National Laboratories, United States of America
    2013-2019 RWTH Aachen University, Federal Republic of Germany

  See the LICENSE file in the package base directory for details
-->

<!-- Root element for the trace cutter output. -->
<!ELEMENT wrappgen-output (extra-sources, extra-libs) >

<!-- List of source files that need to be added to the generated output source. -->
<!ELEMENT extra-sources (source)*>

<!-- Name of a single source file. -->
<!ELEMENT source (#PCDATA)>

<!-- List of libraries that are needed when using the code that was generated by the trace cutter. -->
<!ELEMENT extra-libs (lib)*>

<!-- A single library that is needed for the trace cutter. Use absolute paths with library name, if the library is not in a default directory. E.g.: "/lib/share/libz.a". -->
<!ELEMENT lib (#PCDATA)>
